@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
    background: url('https://jamsouf.github.io/servyy/assets/img/bg.gif');
    color: #E8E8E8;
    font: normal 13px/18px 'Lato';
}
div {
    position: relative;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}
.float {
    float: left;
}
.floatr {
    float: right;
}
.clear {
    clear: both;
}
.wp33 {
    width: 32.4%;
}
.wp50 {
    width: 49.3%;
}
.wp66 {
    width: 66.2%;
}
.wp100 {
    width: 100%;
}
.hf100 {
    height: 100px;
}
.hf125 {
    height: 125px;
}
.hf150 {
    height: 150px;
}
.hf175 {
    height: 175px;
}
.hf200 {
    height: 200px;
}
.hf235 {
    height: 235px;
}
.hf300 {
    height: 300px;
}
#head {
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, .92);
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #757575;
}
#head .center {
    position: absolute;
    width: 100%;
    top: 14px;
    text-align: center;
}
#head .center a {
    color: #757575;
    text-decoration: none;
}
#head .center a:hover {
    color: #FFF;
}
#head .left {
    float: left;
    padding: 8px 0 0 8px;
    text-align: left;
}
#head .right {
    float: right;
    padding: 8px 8px 0 0;
    text-align: right;
}
#footer {
    z-index: 0;
    position: fixed;
    bottom: 7px;
    left: 0;
    width: 100%;
}
#footer .center {
    width: 100%;
    text-align: center;
}
#footer .center a {
    padding: 1px 5px;
    border-radius: 3px;
    font-size:12px;
    text-decoration: none;
    color: #4E4E4E;
    background-color: #C7C7C7;
}
#footer .center a:hover {
    color: #C7C7C7;
    background-color: #4E4E4E;
}
#main {
    z-index: 500;
    margin: 70px auto 30px;
    width: 78%;
}
#content .nmright {
    margin-right: 0;
}
.box {
    margin: 0 1.4% 1.4% 0;
    background: rgba(0, 0, 0, .9);
}
.box .title {
    padding: 4px 15px;
    font-weight: 700;
    font-size: 13px;
    background-color: #000;
    border-bottom: 1px dotted #444;
}
.box .wrap {
    overflow: auto;
    padding: 12px 0 15px 15px;
}
.box .inner {
    padding-right: 10px;
}
#info-os .head-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 20px;
}
#info-os .sub-title {
    display: block;
    font-weight: 700;
}
#info-os .content {
    margin-top: 35px;
    font-size: 12px;
    line-height: 18px;
}
#info-cpu .head-title {
    display: block;
    font-size: 12px;
}
#info-cpu .sub-title {
    display: block;
    font-size: 12px;
}
#info-cpu .load-avg {
    font-size: 12px;
    color: #4E4E4E;
    word-spacing: 3px;
}
#info-cpu .up-since {
    font-size: 12px;
    color: #4E4E4E;
}
#cpu-load-average-chart {
    width: 70%;
    height: 90px;
}
#cpu-load-using-chart {
    float: left;
    margin-top: 5px;
    width: 60%;
    height: 140px;
}
#cpu-total-load {
    float: left;
    padding: 100px 0 0 10px;
    text-align: center;
}
#cpu-total-load .ident {
    font-size: 12px;
    font-weight: 700;
}
#cpu-total-load .value {
    font-size: 36px;
    font-weight: 300;
}
#mem-usage {
    text-align: center;
    font-size: 12px;
}
#mem-usage-chart {
    height:95px;
}
#swap-usage {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}
#swap-usage-chart {
    height:95px;
}
#disk-usage-chart {
    width: 95%;
    height: 145px;
}
#tasks-total {
    margin-top: 10px;
    width: 97%;
    text-align: center;
}
#tasks-total table {
    margin: 0 auto;
    width: 100%;
}
#tasks-total .ident {
    font-size: 12px;
}
#tasks-total .value {
    font-size: 22px;
    font-weight: 300;
}
#tasks-count {
    margin-top: 20px;
    width: 97%;
    text-align: center;
    font-size: 12px;
}
#tasks-count-chart {
    height: 110px;
}
#tasks-count .ident {
    margin-top: 10px;
    font-weight: 700;
}
#tasks-resources table {
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
}
#tasks-resources th {
    font-weight: 700;
    background-color: #474730;
}
#tasks-resources th, #tasks-resources td  {
    padding: 0 8px;
    border-radius: 3px;
    text-align: center;
}
#tasks-resources td {
    background-color: #343432;
}
.box .package {
    float: left;
    margin: 0 10px 10px 0;
    padding: 9px;
    text-align: center;
    background-color: #3D3D3D;
    box-shadow: 1px 0px #525252, 0px 1px #636363,
                2px 1px #525252, 1px 2px #636363,
                3px 2px #525252, 2px 3px #636363;
}
.box .package .ident {
    font-size: 16px;
    font-weight: 300;
}
.box .package .value {
    font-size: 11px;
    font-weight: 700;
}
#navigate {
    padding: 12px 15px 5px;
    background-color: #000;
}
#navigate .inner {
    font: normal 20px 'Lato';
    color: #6B6B6B;
    border-bottom: 1px solid #444;
}
#navigate input {
    margin-left: 3px;
    width: 87%;
    padding: 3px 0;
    font: normal 20px 'Lato';
    font-weight: 300;
    background-color: transparent;
    color: #E8E8E8;
    border: none;
}
#navigate input:focus {
    outline: 0;
}
#navigate .actions {
    margin-top: 11px;
    font-size: 12px;
}
#navigate .actions i {
    margin-right: 4px;
}
#navigate .actions a {
    white-space: nowrap;
    margin-left: 16px;
    text-decoration: none;
    color: #6B6B6B;
}
#navigate .actions a:hover {
    color: #FFF;
}
#breadcrumb {
    padding: 5px 10px 12px 15px;
    color: #919191;
    background-color: #000;
    border-bottom: 1px dotted #444;
    word-spacing: 4px;
}
#breadcrumb a {
    text-decoration: none;
    color: #98BAE3;
}
#breadcrumb a:hover {
    color: #2970C7;
    border-bottom: 1px solid #2970C7;
}
#listing {
    max-height: 538px;
    padding: 12px 7px 14px 15px;
    text-align: left;
}
#listing table {
    color: #E8E8E8;
    width: 100%;
}
#listing td {
    white-space: nowrap;
}
#listing td:first-child {
    width: 50%;
}
#listing thead td {
    padding-bottom: 8px;
}
#listing thead a {
    font-weight: 700;
    text-decoration: none;
    color: #E2E2E2;
}
#listing thead i {
    margin-right: 6px;
}
#listing tbody a {
    color: #E8E8E8;
    text-decoration: none;
}
#listing tbody .file {
    color: #A6A6A6;
}