@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body {
    margin: 40px 0;
    background: repeat center center fixed url('https://jamsouf.github.io/servyy/assets/img/bg.jpg');
    background-size: cover;
    color: #F4F4F4;
    font: normal 14px 'Lato';
}
div { position: relative; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.bold { font-weight: 700; }
.black { font-weight: 900; }
.float { float: left; }
.wp33 { width: 32.4%; }
.wp50 { width: 49.3%; }
.wp66 { width: 66.2%; }
.clear { clear: both; }
#main {
    width: 70%;
    margin: auto;
}
#content .nmright { margin-right: 0; }
.box {
    margin: 0 1.4% 1.4% 0;
    background: rgba(0, 0, 0, .85);
}
.box .inner {
    padding: 15px;
}